#nd a{
    color: white;
}
#themuser #mk{
    margin-left: 5px;

}
#themuser{
    position: relative;
    top: 70px;
    left: 30px;
    clear: both;
}
#content1{
    float: left;
    width: 400px;

}
#nd table{
    width: 600px;
    
}
#nd{
    margin-left: 150px;
    margin-top: -210px;
    width: 600px;


}

